*{
    outline: none;
    margin: 0;
    box-sizing: border-box;
}


body, html{
    width: 100%;
    height: 100%;
    font-family: 'Lexend', sans-serif;
    margin: auto;
}

body {
    background: #F2F4F5;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#newAccount{
    width: 80%;
    height: 88%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background: #DEEDF1;
    border-radius: 20px;
    margin-top: 1%;
    background: rgba( 222, 237, 241, 0.35 );
    box-shadow: 0 4px 16px 0 rgba(28, 39, 45, 0.5);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#accountValue, #categoryAccount, #dueData, #releaseDateOf, .labSpace{
    border:none;
    width: 40%;
    border-radius: 4px;
    cursor: text;
}
/* input, label{
   
} */
input:focus{
    outline:none;
}

#newAccount p{
    margin: 1% 0 0 5%;
}
#accountNumber{
    font-size: 20px;
}
#sectionFunctionality{
    font-size: 40px;
    color: #1C272D;
}
#questionsUser{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
#questionsUser:p , #questionsUser:label {
    margin: 1%;
}

#registerUser{
    background: #00A1D3;
    color: #FFFFFF;
    border: none;
    font-size: 23px;
    width: 20%;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    margin-bottom: 1%;
}
#backLoginPage{
    background: #00A1D3;
    color: #FFFFFF;
    border: none;
    font-size: 23px;
    width: 20%;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    margin-bottom: 1%;
}


#registerUser:hover, #backLoginPage:hover{
    background: #1C272D;
}



