*{
    outline: none;
    margin: 0;
    box-sizing: border-box;
}


body, html{
    width: 100%;
    height: 100%;
    font-family: 'Lexend', sans-serif;
    margin: auto;
}

body {
    background: #F2F4F5;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#accountScreen{
    width: 80%;
    height: 88%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background: #DEEDF1;
    border-radius: 20px;
    margin-top: 1%;
    background: rgba( 222, 237, 241, 0.35 );
    box-shadow: 0 4px 16px 0 rgba(28, 39, 45, 0.5);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#expenseAccounts{
    display: flex;
    height: 80%;
    width: 100%;
    margin: 0;
}
#accountInfo{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#expenseName{
    width: 100%;
    height: 20%;
}

#expenseHistory{
    font-size: 40px;
    margin-left: 5%;
}

#tableNames{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

#spaceImg{
    width: 18%;
    height: 40%;
}

#profilePicture{
    width: 100%;
    border-radius: 40px;
}

#accountButtonSpace{
    display: flex;
    justify-content: space-evenly;
}

.buttonsAccounts{
    background: #00A1D3;
    font-size: 25px;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    padding: 0.3% 1%;
    margin-top: 3%;
    cursor: pointer;
    width: 20%;
    text-align: center;
}
.buttonsAccounts:hover{
    background: #1C272D;
}
#buttonAccountBack{
    background: #1C272D;
}
#buttonAccountBack:hover{
    background: #091013;
}

#expenseSpace{
    height: 50%;
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
}
#spaceNome, #valNome{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.garbagemanIcon{
    width: 15%;
    margin-top: -4%;
    cursor: pointer;
}

#garbagemanSpace{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}
/* --------------------------------------------------------- */

.accountInfoHistory{
    border: 0.5px solid #AEE1EF;
    margin-bottom: 2%;
    width: 95%;
    height: 15%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountInfoHistory:hover{
    cursor: text;
}
.accountInfoHistory:focus{
    outline: none;
}
